In [1]:
import pandas as pd
import os

In [13]:
PATH_PER_WEEK = '../data_jeannie/per_week/'
PATH_FINAL = '../data_jeannie/final/'

In [2]:
PATH_PER_WEEK = '../data/per_week/'
PATH_FINAL = '../data/final/'

In [14]:
all_players_data= []
for week in os.listdir(PATH_PER_WEEK):
    path = PATH_PER_WEEK+'/'+week
    
    myplayers=pd.read_excel(path+'/my_players.xlsx',index_col='id')
    otherplayers=pd.read_excel(path+'/other_players.xlsx',index_col='id')
    
    myplayers['owned']='OUI'
    otherplayers['owned']='NON'
    myplayers['date']=week
    otherplayers['date']=week
    all_players_data.append(myplayers)
    all_players_data.append(otherplayers)
all_players = pd.concat(all_players_data)

In [15]:
MAX_DATE = all_players['date'].max()
MAX_DATE

'2024-10-02'

In [16]:
path_dir_out = PATH_FINAL +f'/{MAX_DATE}/'
file_name_out =  'all.xlsx'
os.makedirs(path_dir_out,exist_ok=True)
all_players.to_excel(path_dir_out+'/'+file_name_out)

---
# ANALYSIS

In [17]:
print(all_players.columns)

Index(['role', 'name', 'club', 'etranger', 'Ownership', 'Price', 'HM points',
       'HM points AVG', 'Appareances', 'Goal', 'Goal OT', 'Assist #1',
       'Assist #2', 'Assist OT', 'Points', 'GWG', 'Penalties', '+/-', 'Shots',
       'Goals Ag.', 'Saves Nr.', 'Saves', 'owned', 'date'],
      dtype='object')

In [18]:
analysis_df = all_players[all_players['date']==MAX_DATE]

In [19]:
analysis_df.loc[:,'VALUE_DIFF'] = analysis_df['HM points AVG']- analysis_df['Price']

## Player to buy !

In [20]:
analysis_df[ (~pd.isnull(analysis_df['HM points']) ) & (analysis_df['owned'] =='NON' )
            ].nlargest(20, 'VALUE_DIFF')[['role','name','club','Price','HM points','HM points AVG','VALUE_DIFF','Appareances']]

,role,name,club,Price,HM points,HM points AVG,VALUE_DIFF,Appareances
id,,,,,,,,
259,DF,R. Loeffel,BER,9.0,81.0,27.0,18.0,3.0
734,DF,N. Meile,LUG,1.0,16.0,16.0,15.0,1.0
806,DF,J. Honka,DAV,10.0,170.0,24.3,14.3,7.0
721,FW,M. Granlund,GEN,12.0,52.0,26.0,14.0,2.0
682,DF,J. Virtanen,AMB,11.5,160.0,22.9,11.4,7.0
702,DF,D. Kukan,ZSC,12.0,158.0,22.6,10.6,7.0
46,FW,M. Künzle,ZUG,7.0,101.0,16.8,9.8,6.0
697,FW,N. Jensen,RAP,10.0,137.0,19.6,9.6,7.0
844,FW,J. Felcman,LAN,1.0,67.0,9.6,8.6,7.0
826,FW,M. Landry,AMB,3.5,82.0,11.7,8.2,7.0
722,FW,T. Hartikainen,GEN,11.0,95.0,19.0,8.0,5.0
694,DF,V. Saarijärvi,LAN,12.5,142.0,20.3,7.8,7.0
916,FW,A. Tambellini,DAV,11.5,135.0,19.3,7.8,7.0
934,FW,A. Czarnik,BER,10.0,106.0,17.7,7.7,6.0
852,FW,R. Meier,KLO,1.0,57.0,8.1,7.1,7.0
394,FW,M. Miranda,GEN,4.0,22.0,11.0,7.0,2.0
707,DF,N. Steiner,KLO,3.5,70.0,10.0,6.5,7.0
604,DF,I. Baragano,RAP,5.5,82.0,11.7,6.2,7.0
488,FW,M. Lehmann,BER,8.5,102.0,14.6,6.1,7.0
479,FW,G. Wetter,RAP,5.5,66.0,11.0,5.5,6.0

## Player to buy in range!

In [24]:
MIN_PRICE = 6
MAX_PRICE = 8.5

analysis_df[ (~pd.isnull(analysis_df['HM points']) ) & (analysis_df['owned'] =='NON' ) 
                & (analysis_df['Price'] >=MIN_PRICE )& (analysis_df['Price'] <=MAX_PRICE  )
            ].nlargest(20, 'VALUE_DIFF')[['role','name','club','Price','HM points','HM points AVG','VALUE_DIFF','Appareances']]

,role,name,club,Price,HM points,HM points AVG,VALUE_DIFF,Appareances
id,,,,,,,,
46,FW,M. Künzle,ZUG,7.0,101.0,16.8,9.8,6.0
488,FW,M. Lehmann,BER,8.5,102.0,14.6,6.1,7.0
196,FW,V. Praplan,GEN,7.0,58.0,11.6,4.6,5.0
833,DF,P. Nemeth,BER,6.5,74.0,10.6,4.1,7.0
580,DF,M. Müller,LUG,6.0,60.0,10.0,4.0,6.0
93,DF,S. Alatalo,LUG,8.5,74.0,12.3,3.8,6.0
923,DF,C. Dahlström,LUG,6.5,56.0,9.3,2.8,6.0
919,FW,D. Vozenilek,ZUG,8.0,53.0,10.6,2.6,5.0
408,FW,B. Baumgartner,BER,8.0,73.0,10.4,2.4,7.0
609,DF,Y. Weber,ZSC,6.5,62.0,8.9,2.4,7.0
673,FW,J. de la Rose,FRI,8.0,72.0,10.3,2.3,7.0
822,DF,J. Riikola,LAN,8.0,70.0,10.0,2.0,7.0
414,DF,L. Profico,KLO,6.5,57.0,8.1,1.6,7.0
483,DF,T. Geisser,ZUG,8.0,57.0,9.5,1.5,6.0
225,DF,M. Henauer,RAP,6.5,50.0,7.1,0.6,7.0
466,DF,D. Aebischer,LUG,7.5,46.0,7.7,0.2,6.0
75,FW,E. Corvi,DAV,8.0,55.0,7.9,-0.1,7.0
358,DF,A. Glauser,LAU,8.0,55.0,7.9,-0.1,7.0
242,FW,M. Müller,LUG,7.5,44.0,7.3,-0.2,6.0
95,DF,R. Diaz,FRI,6.0,40.0,5.7,-0.3,7.0

## Player to Sell!

In [22]:
analysis_df[ (~pd.isnull(analysis_df['HM points']) ) & (analysis_df['owned'] =='OUI' )
            ].nsmallest(30, 'VALUE_DIFF')[['role','name','club','Price','HM points','HM points AVG','VALUE_DIFF','Appareances']]

,role,name,club,Price,HM points,HM points AVG,VALUE_DIFF,Appareances
id,,,,,,,,
613,GK,Conz / Ciaccio,AJO,9.0,-13.0,-1.9,-10.9,7.0
773,DF,S. Seiler,FRI,4.0,-18.0,-4.5,-8.5,4.0
77,FW,J. Bachofner,BIE,3.5,-18.0,-2.6,-6.1,7.0
122,DF,Y. Rathgeb,FRI,10.0,28.0,4.0,-6.0,7.0
59,GK,Genoni / Wolf,ZUG,11.5,36.0,6.0,-5.5,6.0
37,DF,M. Maurer,AJO,3.0,-1.0,-1.0,-4.0,1.0
374,FW,J. Jooris,GEN,5.5,11.0,2.2,-3.3,5.0
386,DF,R. Sataric,KLO,3.5,1.0,1.0,-2.5,1.0
292,FW,C. DiDomenico,FRI,11.0,60.0,8.6,-2.4,7.0
83,FW,S. Walser,FRI,4.5,15.0,2.1,-2.4,7.0
672,FW,M. Sörensen,FRI,14.0,85.0,12.1,-1.9,7.0
243,FW,J. Gerber,FRI,2.5,6.0,1.0,-1.5,6.0
129,FW,J. Sprunger,FRI,6.5,37.0,5.3,-1.2,7.0
203,DF,J. Genazzi,LAU,5.0,24.0,4.0,-1.0,6.0
510,DF,D. Sidler,KLO,4.0,24.0,4.0,0.0,6.0
200,DF,D. Trutmann,ZSC,4.5,32.0,4.6,0.1,7.0
357,FW,N. Marchon,FRI,6.5,46.0,7.7,1.2,6.0
920,FW,J. Dorthe,FRI,1.0,17.0,2.4,1.4,7.0
798,FW,T. Rochette,LAU,8.0,83.0,11.9,3.9,7.0
895,DF,G. Christe,BIE,1.0,37.0,5.3,4.3,7.0
223,FW,T. Moy,RAP,10.5,105.0,15.0,4.5,7.0
162,FW,L. Fazzini,LUG,9.0,96.0,16.0,7.0,6.0

In [23]:
analysis_df[ (~pd.isnull(analysis_df['HM points']) ) & (analysis_df['owned'] =='OUI' )
            ].nsmallest(20, 'Appareances')[['role','name','club','Price','HM points','HM points AVG','VALUE_DIFF','Appareances']]

,role,name,club,Price,HM points,HM points AVG,VALUE_DIFF,Appareances
id,,,,,,,,
386,DF,R. Sataric,KLO,3.5,1.0,1.0,-2.5,1.0
37,DF,M. Maurer,AJO,3.0,-1.0,-1.0,-4.0,1.0
773,DF,S. Seiler,FRI,4.0,-18.0,-4.5,-8.5,4.0
374,FW,J. Jooris,GEN,5.5,11.0,2.2,-3.3,5.0
59,GK,Genoni / Wolf,ZUG,11.5,36.0,6.0,-5.5,6.0
162,FW,L. Fazzini,LUG,9.0,96.0,16.0,7.0,6.0
357,FW,N. Marchon,FRI,6.5,46.0,7.7,1.2,6.0
203,DF,J. Genazzi,LAU,5.0,24.0,4.0,-1.0,6.0
510,DF,D. Sidler,KLO,4.0,24.0,4.0,0.0,6.0
243,FW,J. Gerber,FRI,2.5,6.0,1.0,-1.5,6.0
672,FW,M. Sörensen,FRI,14.0,85.0,12.1,-1.9,7.0
292,FW,C. DiDomenico,FRI,11.0,60.0,8.6,-2.4,7.0
223,FW,T. Moy,RAP,10.5,105.0,15.0,4.5,7.0
122,DF,Y. Rathgeb,FRI,10.0,28.0,4.0,-6.0,7.0
613,GK,Conz / Ciaccio,AJO,9.0,-13.0,-1.9,-10.9,7.0
798,FW,T. Rochette,LAU,8.0,83.0,11.9,3.9,7.0
129,FW,J. Sprunger,FRI,6.5,37.0,5.3,-1.2,7.0
200,DF,D. Trutmann,ZSC,4.5,32.0,4.6,0.1,7.0
83,FW,S. Walser,FRI,4.5,15.0,2.1,-2.4,7.0
77,FW,J. Bachofner,BIE,3.5,-18.0,-2.6,-6.1,7.0

In [28]:
analysis_df[ (~pd.isnull(analysis_df['HM points']) ) & (analysis_df['owned'] =='NON' ) & (analysis_df['Price'] <3)
            ].nlargest(20, 'Appareances')[['role','name','club','Price','HM points','HM points AVG','VALUE_DIFF','Appareances']]

,role,name,club,Price,HM points,HM points AVG,VALUE_DIFF,Appareances
id,,,,,,,,
716,FW,S. Kellenberger,KLO,2.5,46.0,2.3,-0.2,20.0
15,FW,D. Rohrbach,LAN,2.5,49.0,2.5,0.0,20.0
160,FW,J. Walker,LUG,2.5,51.0,2.6,0.1,20.0
267,FW,J. Wick,RAP,2.5,56.0,2.8,0.3,20.0
81,FW,M. Jörg,FRI,2.0,43.0,2.2,0.2,20.0
470,FW,J. Salzgeber,LAN,2.0,41.0,2.1,0.1,20.0
720,FW,H. Schreiber,KLO,2.0,42.0,2.1,0.1,20.0
643,FW,O. Lapinskis,LAN,1.5,33.0,1.7,0.2,20.0
559,FW,F. Ritzmann,BER,1.5,26.0,1.3,-0.2,20.0
244,FW,P. Berger,LAN,1.0,-9.0,-0.5,-1.5,20.0
110,FW,S. Zangger,RAP,1.0,20.0,1.0,0.0,20.0
394,FW,M. Miranda,GEN,2.5,48.0,2.5,0.0,19.0
738,FW,D. Binias,FRI,2.0,39.0,2.1,0.1,19.0
389,FW,S. Leuenberger,ZUG,2.0,34.0,1.8,-0.2,19.0
44,FW,R. Tanner,BIE,2.0,36.0,1.9,-0.1,19.0
501,FW,E. Schläpfer,BIE,1.5,29.0,1.5,0.0,19.0
717,FW,K. Lindemann,KLO,1.0,17.0,0.9,-0.1,19.0
324,FW,R. Prassl,DAV,1.0,17.0,0.9,-0.1,19.0
343,FW,C. Egli,DAV,2.5,41.0,2.3,-0.2,18.0
770,FW,M. Zanetti,LUG,2.5,49.0,2.7,0.2,18.0